<div class="container">
  <header>
    <h1> <%= link_to "Wikinimous", articles_path %></h1>
      <%= link_to 'Add new article', new_article_path, class: "button" %>
  </header>

  <div class="article">
    <h2><%= @article.title %></h2>
    <p><%= @article.content %></p>

    <%= link_to "< Go back", articles_path, class: "button2" %>
  </div>
</div>

<footer>
  <p>Wikinimous - <%= Time.now.strftime("%d/%m/%Y %H:%M") %></p>
</footer>
